#parts-content {

	*:hover {
		transition: 0.7s;
	}
	.post {
		margin: 80px auto;
		&:first-child {
			margin-top: 50px;
		}
		h2 {
			text-align: left;
			font-size: 25px;
			margin: 0 auto;
		}
		a {
			text-decoration: none;
			color: $primary-color;
			&:hover {
				color: #019e9e;
			}
		}

		.entry-buttons {
			margin-top: 50px;
			a {
				background-color: $primary-color;
				color: #fff;
				border: none;
				&:hover {
					background-color: #019e9e;
				}
			}
		}

		.entry-thumbnail {
			margin-right: 50px;
			float: left;
			a {
				text-align: center;
			}
			img {
				&:hover {
					transform: scale(1.1);
				}
				width: 300px;
				height: auto;
			}
		}
		.entry-content-right {
			p {
				font-size: $text-size;
				text-align: justify;
			}
		}

	}

	.entry-meta {
		text-align: left;
		.author {
			text-transform: uppercase;
		}
		margin-bottom: 30px;
	}
	.paginate-link {
		padding-bottom: 50px;
		font-size: 14px;
		text-align: center;
		color: #fff;
		& > * {
			padding: 10px;
			margin-left: 5px;
			border-radius: 5px;
		}
		font-weight: bold;
		.page-numbers.current {
			background-color: $primary-color;
		}
		a {
			background-color: #ebebeb;
			text-decoration: none;
			color: #979797;
			&:hover, &:focus {
				background-color: $primary-color;
				color: white;
			}
		}
	}
	@media screen and (max-width: 768px){
		.post .entry-thumbnail {
			float: none;
			margin-right: 0;
			margin-bottom: 20px;
			img {
				width: 100%;
			}
		}
		.post .entry-buttons{
			margin-top: 20px;
		}

	}
}
