#blog-posts {

	*:hover {
		transition: 0.7s;
	}
	.post {
		padding-bottom: 50px;
		padding-top: 50px;
		border-bottom: 1px solid rgba(147, 147, 147, 0.66);
		clear: both;
		&:first-child {
			margin-top: 50px;
		}
		h2 {
			font-size: 30px;
			margin-top: 0;
		}
		a {
			text-decoration: none;
			color: $primary-color;
			&:hover {
				color: #019e9e;
			}
		}

		.entry-buttons {
			a {
				background-color: $primary-color;
				color: #fff;
				border: none;
				&:hover {
					background-color: #019e9e;
				}
			}
		}

		.entry-thumbnail {
			margin-right: 30px;
			float: left;
			a {
				text-align: center;
			}
			img {
				&:hover {
					transform: scale(1.1);
				}
				width: 300px;
				height: auto;
			}
		}
		.entry-content-right {
			p {
				font-size: $text-size;
			}
		}
		.entry-buttons {
			margin-top: 10px;
		}

		.entry-meta {
			.author {
				text-transform: uppercase;
			}
		}
	}

	.paginate-link {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 16px;
		text-align: center;
		color: #fff;
		.page-numbers.current {
			padding: 5px;
			background-color: $primary-color;
			margin-left: 10px;
		}
		a {
			padding: 5px;
			background-color: grey;
			text-decoration: none;
			color: #fff;
			&:hover, &:focus {
				background-color: $primary-color;
			}
			margin-left: 10px;
		}
	}
}
