
.footer-widgets {
	$text-size: 14px;
	$text-color: #ddd;
	$heading-size: 18px;
	$heading-color: #fff;

	*:hover {
		transition: 0.7s;
	}

	font-family: $font-family;
	font-size: $text-size !important;
	color: $text-color;
	background-color: #262626 !important;
	padding-top: 10px !important;
	padding-bottom: 0 !important;

	.heading {
		font-size: $heading-size;
		color: $heading-color;
		margin-bottom: 10px;
	}
	.stock-market-footer-info {
		.text-logo {margin-bottom: 10px;}
	}

	.contact-info {
		div {
			margin-bottom: 5px;
		}
		.fa {
			margin-right: 10px;
		}
	}

	a {
		text-decoration: none;
		color: $text-color;
		&:hover, &:focus {
			color: $primary-color;
		}
	}

	.social-info {
		.social {display: inline-block}
		margin-top: 20px;
		i.fa {
			border: 10px solid #3b3b3b;
			border-radius: 50%;
			font-size: 20px;
			background-color: #3b3b3b;
			color: #fff;
			margin-right: 15px;
			width: 40px;
			height: 40px;
			text-align: center;
			&:hover {
				border-color: $primary-color;
				background-color: $primary-color;
			}
		}
	}

	.stock-market-stock-ticker {
		i {margin-right: 10px;}
		.post-title {line-height: 30px;}
	}

	.stock-market-our-work {
		.heading {
			padding-bottom: 15px;
		}
		img {
			width: 70px;
			padding-bottom: 20px;
			&:hover {
				transform: scale(1.1);
			}
		}
		a {
			padding-right: 15px;
			padding-bottom: 15px;
		}
	}
}

div.footer{
	.copyright{
		float: none;
		text-align: center;
		text-transform: none;
		font-size: 14px;
	}
	a:hover, a:focus {
		color: $primary-color;
	}
	color: #828282;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #191919;
}