.page {
	font-size: $text-size;
	.page-title {
		font-size: $title-size;
		color: $primary-color;
		line-height: 1.2 !important;
	}
	.page-content {
		text-align: justify;
		margin-top: 50px;
		.page-thumbnail {
			margin-left: 40px;
			float: right;
			.page-image img {
				width: 350px;
				height: auto;
			}
		}
	}

}