.page {
	.section {
		padding-top: 50px;
	}
	font-size: $text-size;

	.page-content {
		text-align: justify;
		.page-thumbnail {
			@media screen and (max-width: 767px) {
				margin-left: 10px;
				margin-bottom: 10px;
				.page-image img {
					width: 150px;
				}
			}

			margin-left: 40px;
			float: right;
			.page-image img {
				width: 350px;
				height: auto;
			}
		}
	}

}

.home .section {
	padding: 140px 0 60px;
}