.page {
	font-size: $text-size;
	.page-title {
		font-size: $title-size;
		color: $primary-color;
		line-height: 1.2 !important;
	}
	.page-content {
		text-align: justify;
		margin-top: 50px;
		.page-thumbnail {
			margin-left: 40px;
			float: right;
			.page-image img {
				width: 350px;
				height: auto;
			}
		}
	}
	.content {
		ul, li {
			list-style: none;
		}
		ul {
			padding-left: 0;
		}
		li::before {
			content: '\f00c';
			font-family: FontAwesome;
			color: $primary-color;
			padding-right: 5px;
		}
	}

}