.post-content {
	.post-details {
		margin-bottom: 50px;
		font-size: $text-size;
		text-align: justify;

		.entry-thumbnail {
			margin-left: 40px;
			float: right;
			.entry-image img {
				max-width: 400px;
				height: auto;
			}
		}
	}

	.entry-title {
		color: $primary-color;
		font-size: 30px;
	}
	.entry-tags a {
		&:hover, &:focus {
			background-color: $primary-color !important;
			transition: 0.7s;
		}
	}
	a {
		text-decoration: none;
		color: $primary-color;
		&:hover, &:focus {
			color: #019e9e;
		}
	}


}