.post-content {
	.post-details {
		font-size: $text-size;

		.entry-thumbnail {
			margin-right: 40px;
			float: left;
			.entry-image img {
				width: 400px;
				height: auto;
			}
		}
	}

	.entry-title {
		color: $primary-color;
		font-size: 30px;
	}
	a {
		text-decoration: none;
		color: $primary-color;
		&:hover {
			color: #019e9e;
		}
	}

	.comment-area {
		border-top: 1px solid rgba(147, 147, 147, 0.66);
	}
	h3 {
		color: $primary-color !important;
	}

}