.post-content {
	.post-details {
		margin-bottom: 50px;
		font-size: $text-size;

		.entry-thumbnail {
			margin-right: 40px;
			float: left;
			.entry-image img {
				width: 400px;
				height: auto;
			}
		}
	}

	.entry-title {
		color: $primary-color;
		font-size: 30px;
	}
	a {
		text-decoration: none;
		color: $primary-color;
		&:hover, &:focus {
			color: #019e9e;
		}
	}

	.comments-area {
		border-top: 1px solid rgba(147, 147, 147, 0.66);
		.form-submit input.submit{
			background-color: $primary-color;
			color: #fff !important;
			&:hover {
				background-color: #019e9e;
			}
		}
		h3 {
			color: $primary-color !important;
		}
	}


}