$primary-color: rgb(1, 190, 190);
$font-family: "Open Sans";
$title-size: 30px;
$hover-color: #019e9e;
$text-size: 14px;
@import "header";
@import "widgets";
@import "footer";
@import "blog";
@import "single-post";
@import "page";

