@import "invesment-detail-widget";

.chart_loading {
  position: relative;
  background-image: url('../../assets/img/loading.gif');
  -moz-background-image: url('../../assets/img/loading.gif');
  -o-background-image: url('../../assets/img/loading.gif');
  -webkit-background-image: url('../../assets/img/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
}